html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: linear-gradient(145deg, #7727e0, #5f7daf);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    color: white;
}

.container{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    width: 200px;
    border: 3px solid navy;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px #666;
}

//*#fb{
    background-image: url("face.jpg");
    background-size: cover;
    background-position: right;
    color: white ;
}

#twit{
    background-image: url("twit.jpg");
    background-size: cover;
    background-position: right;
    color: white;
}

#insta {
    background-image: url("insta.jpg");
    background-size: cover;
    background-position: right;
    color: white ;
}*\\

.site-name{
    font-weight: 800;
    margin-bottom: 5px;
}

.highlight{
    color: red;
    font-weight: 800;
}